body {
    background: rgb(255, 255, 255);
    background: linear-gradient(87deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 48%, rgba(226, 226, 226, 1) 100%);
    ;
}

.expenses {
    padding: 1rem;
    background-color: black;
    margin: 0.5rem auto;
    width: 50rem;
    max-width: 95%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}